<!doctype html>
<html>
<div class="site">
<head>
	<link rel="stylesheet" type = "text/css" href="main.css" />
	
	<title>Foodsby</title>


	
</head>
<body>
	<script>

/*var buttonSat = document.createElement("button");
	buttonSat.innerHTML = "Saturday";
	document.body.prepend(buttonSat);

var buttonFri = document.createElement("button");
	buttonFri.innerHTML = "Friday";
	document.body.prepend(buttonFri);

var buttonThur = document.createElement("button");
	buttonThur.innerHTML = "Thursday";
	document.body.prepend(buttonThur);

var buttonWed = document.createElement("button");
	buttonWed.innerHTML = "Wednesday";
	document.body.prepend(buttonWed);

var buttonTue = document.createElement("button");
	buttonTue.innerHTML = "Tuesday";
	document.body.prepend(buttonTue);

var buttonMon = document.createElement("button");
	buttonMon.innerHTML = "Monday";
	document.body.prepend(buttonMon);

var buttonSun = document.createElement("button");
	buttonSun.innerHTML = "Sunday";
	document.body.prepend(buttonSun);

	buttonMon.addEventListener("click",
		function()
		{
			location.href = "/monday";
		});
	buttonTue.addEventListener("click",
		function()
		{
			location.href = "/tuesday";
		});
	buttonWed.addEventListener("click",
		function()
		{
			location.href = "/wednesday";
		});
	buttonThur.addEventListener("click",
		function()
		{
			location.href = "/thursday";
		});
	buttonFri.addEventListener("click",
		function()
		{
			location.href = "/friday";
		});
	buttonSat.addEventListener("click",
		function()
		{
			location.href = "/saturday";
		});
	buttonSun.addEventListener("click",
		function()
		{
			location.href = "/sunday";
		});*/

</script>

<div class="dayButtons">
	<a href="/monday" class="dayButton">Monday</a>
	<a href="/tuesday" class="dayButton">Tuesday</a>
	<a href="/wednesday" class="dayButton">Wednesday</a>
	<a href="/thursday" class="dayButton">Thursday</a>
	<a href="/friday" class="dayButton">Friday</a>
	<a href="/saturday" class="dayButton">Saturday</a>
	<a href="/sunday" class="dayButton">Sunday</a>
	</div>

	<div class="mainText">
		{{{body}}}
		
	</div>
</body>
</div>
</html>